body {
  height: 100vh;
  display: flex;
  background-color: #c3e9fa;
}

/*CSS for login page*/

.loginContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.loginForm {
  margin: auto;
  width: 400px;
}

#loginBtn {
  margin-top: 10%;
  width: 100%;
}

.loginLabel {
  color: #056e9c!important;
  font-weight: bold;
}

.errorLabel {
  position: absolute;
  width: 100%;
}

/*CSS for vehicles page*/

.vehicleContainer {
  width: 100vw;
  height: 100vh;
  padding: 5% 5%;
}

.vehicleHeader {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
}

.iconHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 16px;
}

.vehicleCardsContainer {
  margin-top: 36px;
  margin: 20px -10px 0px -10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.vehicleCard {
  display: flex;
  text-align: center;
  margin: 10px;
  padding-top: 3%;
  border-radius: 10px;
  box-shadow: 5px 10px #d5d8de;
  justify-content: center;
  height: 240px;
  width: 320px;
  background-color: white;
}

.vehicleCardName {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}